.tabular-container
  &.table.ui
    td
      border-top none

    label[for]
      cursor pointer

  .tabular-column
    &.min-numeric-width
      min-width: 60px

.tabular-group
  .tabular-container.table.ui
    margin-top 0
    margin-bottom 0
