.settings-profile
  .settings-profile-profile-image
    .card-profile-image-preview-container
      .card-profile-image-preview
        overflow hidden

        width 290px
        height 290px


  .big-top
    margin-top 14px
