.soapee-input.input-number
  &.size-single
    min-width 48px

  &.size-double
    min-width 60px

  .field
    &.centered
      .input-number-component
        text-align center

    &.fluid
      .input-number-component
        width 100%
