.post-detail
  .forum-tags-input
    width 100%

  .post-forum-taggables
    padding-bottom: 16px

  .footer.is-mobile
    .post-detail-actions
      display flex !important
      flex-direction column
      align-items flex-end

      .button
        min-width 80px
        margin-bottom 2px
