.recipe-list-component
  .stats.is-mobile
    display flex !important
    align-items flex-start

    .ui.label
      margin-bottom 2px
      margin-left 0

  .actions.is-mobile
    display flex !important
    align-items flex-end

    .button
      min-width 80px
      margin-bottom 2px

  .recipe-detail
    .recipe-details-with-image
      display flex

      .recipe-image
        object-fit cover
        width 90px
        height 60px

      .details-container
        flex 1
        margin-left 8px

  .recipe-list-reactions
    margin-top $base-spacing * 2
