.reactions
  flex-flow wrap

  .reaction-emoji
    display inline-flex !important
    align-items center

    &.ui.basic.label
      padding: 4px

      &.mine
        border 1px solid #91bbe9

    .counter
      margin-left 4px
      opacity 0.7
