.feed-list-component

  .feed-item
    display flex

    .feed-details
      padding-left 14px

    &.new-user
      .feed-details
        align-self center

  .feed-item-image-container
    .feed-item-image
      object-fit cover
      width 90px
      height 60px

      &.user-avatar
        width 60px
        height 60px

  .feed-details
    flex 1
