footer-mobile-styles()
  .stats
    display grid !important
    row-gap 5px
    justify-content flex-start
    align-content flex-start

    .label
      margin-left 0

  .actions
    display grid !important
    row-gap 5px
    justify-content flex-end

    .button
      min-width 80px

