.forum-tags-component
  .add-tag-row
    button
      white-space nowrap

  .tags-container
    margin-bottom: 14px !important

  .tag-edit
    .field
      margin: 0 !important

  .can-click
    cursor: pointer
