.user-info
  cursor pointer
  display inline-block
  border-bottom 1px dotted silver


.user-info-popup
  .user-details
    .stats-container
      margin-bottom 8px

  .info-container
    display flex
    padding-bottom $base-spacing

  .joined
    color silver - 50%
    font-size 12px
